.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60vw;
    margin: auto;
}

.rules {
    text-align: justify;
}

.rules li {
    list-style: none;
}

.link {
    text-decoration: none;
}

.buttons-homepage {
    display: flex;
    justify-content: space-around;
}

.buttons-homepage button {
    margin: 40px;
    width: 100px;
    height: fit-content;
}