.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 95vw;
}

.games-display {
    display: flex;
    flex-direction: column;
}

.game-info {
    display: flex;
    justify-items:space-around ;
    align-items: center;
    
}

.user-info {
    display: flex;
    justify-items: space-around;
    background-color: lightgray;
}